@page "/device/{deviceId}"
@using COSMIC.Warpdeck.Web.Pages
@model COSMIC.Warpdeck.Web.Pages.Device

@{
    Layout = "_Layout";
}


<script src="/js/Partials/KeyGrid.js"></script>
<script src="/js/Pages/Device.js"></script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>
        <span class="badge bg-secondary">Device </span> @Model.CurrentDevice.DeviceId
    </h1>
    <div class="row">
        <div class="input-group">
            <button id="newLayerButton" data-bs-toggle="modal" data-bs-target="#newLayerModal" class="btn btn-primary" type="button">New Layer</button>
        </div>
    </div>
</div>
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-body bg-dark rounded-3">
                    <div class="container-fluid" id="keymapGrid">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Device Settings
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="addon-wrapping">Device Name</span>
                        <input id="deviceNameTextBox" type="text" class="form-control" value="@Model.CurrentDevice.DeviceId" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    </div>

                    <div class="input-group mb-3">
                        <button id="saveDeviceButton" type="button" class="btn btn-primary">Save</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("NewLayerModalPartial", new NewLayerModalPartial()
{
    DeviceId = @Model.CurrentDevice.DeviceId
})

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
    window.keyGrid = new KeyGrid("keymapGrid","@(Model.CurrentDevice.DeviceId)","active", {disableSelection: true}, @Model.CurrentDevice.Info.Rows, @Model.CurrentDevice.Info.Columns);
    setInterval(() => window.keyGrid.updateButtons(),10000);
    window.devicePage = new Device("@(Model.CurrentDevice.DeviceId)")
    document.newLayerModal = new NewLayerModal("office", () => $("#newLayerModal").modal());  //do work
});

</script>