@page "/device/{deviceId}/layer/{layerId}"
@model COSMIC.Warpdeck.Web.Pages.Layer

@{
    Layout = "_Layout";
}


<div id="layerApp">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>
            <span class="badge bg-secondary">Layer </span> @Model.LayerId
        </h1>
    </div>
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="col-md-8 ">
                <div class="card ">
                    <div class="card-body bg-dark rounded-3">
                        <div class="container-fluid" id="keymapGrid">
                            <WdComponentGrid @@component-click="componentClick"
                                             deviceId="@Model.DeviceId"
                                             layerId="@Model.LayerId"
                                             rows="@Model.DeviceModel.Info.Rows"
                                             columns="@Model.DeviceModel.Info.Columns">
                                
                            </WdComponentGrid>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <WdEditComponentForm :api="this.api"
                                     @@component-save="componentSave"
                                     :triggers="this.editingTriggers"
                                     :keyproperties="this.editingComponentProperties"
                                     :iconproperties="this.editingIconProperties"
                                     :componentmodel="this.editingComponentModel">
                </WdEditComponentForm>
            </div>
        </div>
    </div>
</div>

<!-- Warpdeck API and Vue -->
<script src="/js/warpdeck.js"></script>
<script type="module" src="/Apps/LayerApp.js"></script>